/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(199, 0, 0);
}

.swal2-icon.swal2-warning.swal2-icon-show {
    border-color: rgb(210, 0, 0);
    color: rgb(210, 0, 0);
}

#swal2-title {
    color: rgb(190, 0, 0);
}

#swal2-content {
    color: rgb(190, 0, 0);
    font-weight: 500;
}

body {
    background-image: url('assets/background/body.jpg');
    background-repeat: repeat;
}